extends layout 
block content 
    div(class='container text-center shadow p-3 mb-5 bg-white rounded' style="margin-top:100px")
        h3 Please verify your email address
        h5 a verification mail is sent to your linked email 
