extends layout 
block dropdown 
    a(class="dropdown-item" href="/signup") Signup
    a(class="dropdown-item" href="/signin") Signin
block content
    div(class='container col-12 col-sm-4 shadow-lg p-3 mb-5 bg-white rounded text-center' style='margin-top:50px')
        form(action="/forgotPassword",method="POST") 
            input(name="email" type="text" placeholder="enter your email" required style="margin-top:25px;margin-bottom:25px;margin-right:10px")
            button(type="submit" class = "btn btn-danger") search
            if (success)
                br
                div(class = "alert alert-success text-center" role = "alert") #{success}
            if (failed)
                br 
                div(class = "alert alert-danger text-center" role = "alert") #{failed}