doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
        script(type="text/javascript" src="https://www.gstatic.com/charts/loader.js")
    body
        nav(class="navbar navbar-expand-lg navbar-dark bg-primary")
            a(class="navbar-brand" href="/signup") CFvisulaizer
            button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation")
                span(class="navbar-toggler-icon")
            div(class="collapse navbar-collapse" id="basicExampleNav")
                ul(class="navbar-nav mr-auto")
                    li(class="nav-item active")
                        a(class="nav-link" href="/stats") Stats
                    li(class="nav-item active")
                        a(class="nav-link" href="/compare") Compare
                    li(class="nav-item active")
                        a(class="nav-link" href="/suggestion") Suggest
        block content