extends layout 
block dropdown 
    a(class="dropdown-item" href="/signup") Signup
    a(class="dropdown-item" href="/signin") Signin
block content 
    div(class='container col-12 col-sm-4 shadow-lg p-3 mb-5 bg-white rounded text-center' style='margin-top:50px')
        if(prompt)
            div(class="alert alert-success") #{prompt}
        else
            form(method="POST") 
                input(name="password" type="password" placeholder="enter your new password" required style="margin-top:25px;margin-bottom:25px;margin-right:10px")
                button(type="submit" class = "btn btn-danger") Reset Password 
