extends layout 
block dropdown 
    a(class="dropdown-item" href="signout") Signout
block content
    div(class='container col-12 col-sm-4 shadow-lg p-3 mb-5 bg-white rounded text-center' style='margin-top:50px')
        form(action="/suggestion",method="POST" ) 
            input(name="handle" type="text" placeholder="enter user handle" required style="margin-top:25px;margin-bottom:25px;margin-right:10px")
            button(type="submit" class = "btn btn-success") search 
    br
    if (unsolvedProblems)
        table(border="1" class="container table table-hover text-center" style="margin-bottom:50px")
            tr 
                th Unsolved Problems
            each problem of unsolvedProblems
                tr 
                    td 
                        a(href = problem[0] target="_blank")=problem[1]
    
    if (suggestionProblems)
        div(class='container d-flex justify-content-center shadow p-3 mb-5 bg-white rounded')
            table(container="1")
                tr 
                    th Try these problems #{handle}
                each problem of suggestionProblems
                    tr
                        td
                            a(href=problem[0],target="_blank")=problem[1]